{% extends 'base.html.twig' %}

{% block title %}Панель администрации | Авторизация{% endblock %}

{% block body %}
<form class="login-form" autocomplete="off" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form-row">
        <label for="inputUsername">Логин</label>
        <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" autocomplete="off" required autofocus>
    </div>

    <div class="form-row">
        <label for="inputPassword">Пароль</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="off" required>
        <label class="suffix password-check hide"></label>
    </div>
    

    <div class="mt-3 mb-3">
        <label class="item checkbox">
            Запомнить меня
            <input type="checkbox" name="_remember_me">
            <span class="checkmark"></span>
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Войти
    </button>
</form>
{% endblock %}
